* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.sky {
  background: linear-gradient(to top, #a0d8ef, #ffffff);
  height: 60%;
  position: relative;
}

.sun {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, #ffec85, #f9d71c);
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 50px;
  animation: sunRise 10s ease-in-out infinite alternate;
}

@keyframes sunRise {
  0% { bottom: 10px; }
  100% { bottom: 60px; }
}

.cloud {
  width: 120px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  opacity: 0.8;
  animation: cloudMove 60s linear infinite;
}

.cloud1 {
  left: -150px;
  animation-delay: 0s;
}

.cloud2 {
  left: -250px;
  top: 60px;
  animation-delay: 10s;
}

@keyframes cloudMove {
  0% { left: -200px; }
  100% { left: 120%; }
}

.landscape {
  background: #228B22;
  height: 40%;
  position: relative;
}

.ground {
  background: #2e8b57;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.tree {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid #006400;
  position: absolute;
  bottom: 100px;
}

.tree1 {
  left: 100px;
}
.tree2 {
  left: 200px;
}
.tree3 {
  left: 300px;
}