* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-wrapper {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    135deg,
    #32003e,
    #4a004d,
    #240026
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.main-card {
  width: 100%;
  max-width: 1100px;
  min-height: 620px;
  background: rgba(57, 0, 75, 0.75);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

/* LEFT */
.left-side {
  flex: 1;
  padding: 70px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 60px;
}

.left-side h1 {
  font-size: 72px;
  margin-bottom: 20px;
}

.line {
  width: 50px;
  height: 3px;
  background: white;
  margin-bottom: 30px;
}

.left-side p {
  max-width: 340px;
  line-height: 1.8;
  color: #d4cbe4;
  margin-bottom: 40px;
}

.learn-btn {
  width: 140px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    #ff9b42,
    #ff2e7a
  );
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* RIGHT */
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-card {
  width: 420px;
  padding: 45px;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(18px);
  border-radius: 8px;
  color: white;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);
}

.glass-card h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 35px;
}

.glass-card input {
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 18px;
  border: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  outline: none;
  font-size: 15px;
}

.glass-card input::placeholder {
  color: #eee;
}

.forgot {
  display: block;
  text-align: right;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 22px;
  color: #f0d9ff;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    #ff9b42,
    #ff2e7a
  );
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.signup {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  color: #f8dfff;
}

/* Tablet */
@media (max-width: 900px) {
  .main-card {
    flex-direction: column;
  }

  .left-side {
    text-align: center;
    align-items: center;
    padding: 45px;
  }

  .left-side h1 {
    font-size: 52px;
  }

  .glass-card {
    width: 90%;
    margin-bottom: 30px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .left-side {
    padding: 30px;
  }

  .left-side h1 {
    font-size: 40px;
  }

  .glass-card {
    width: 95%;
    padding: 30px;
  }

  .glass-card h2 {
    font-size: 30px;
  }
}